# Python
__pycache__/
*.py[cod]

# Virtual Environment
.venv/
venv/

# Pytest
.pytest_cache/

# Test Reports
reports/
test-results/
playwright-report/
allure-results/

# Environment
.env

# macOS
.DS_Store